
.page-title {
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 1em 0 0 0;
	padding-top: 3rem;
	line-height: 1.2;
	font-size: 4em;
	letter-spacing: -1px;

	@include phone-only {
		font-size: 3em;
	}

	.smaller {
		font-size: 3rem;
		display: block;
		clear: both;
		letter-spacing: 0;
		font-family: var(--body_text_font);
		font-weight: normal;
		margin-bottom: -2rem;
	}

}

.centered-title {
	text-align: center;
}


