.portfolio-title {
	display: block;
	position: relative;
	text-align: center;
	z-index: 50;
	margin: 1em 0 0 0;
	line-height: 1.2;
	font-size: 4em;
	letter-spacing: -2px;
}

.portfolio-subtitle {
	font-size: 2rem;
	text-align: center;
	display: block;
	margin: 0 0 2em 0;
	opacity: 0.8;
}

.project-image {
	position: relative;
	box-shadow: 1px 1px 7px rgba( 0, 0, 0, 0.4 );
	margin-bottom: 2em;
	width: 75%;

	&.no-frame {
		.bg-image {
			img {
				min-width: 100%;
			}
		}
	}

	svg.browser-container {
		position: relative;
		width: 100%;
		height: 60px;
		margin-bottom: -9px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;

		&.browser-frame-no-url {
			.browser-text {
				.url-text {
					display: none;
				}
			}
		}
	}

	.browser-text {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 60px;
		display: block;
		z-index: 100;
		text-shadow: none;
		color: #444751;

		a {
			color: #444751;
			text-decoration: none;
		}

		.title-text {
			text-align: center;
			margin: 3px 0 4px 0;
			overflow: hidden;
			white-space: nowrap;
			font-size: 16px;
			color: #444751;
			text-shadow: none;
		}

		.url-text {
			font-size: 11px;
			margin: 9px 40px 7px 74px;
			background: #fff;
			padding: 3px 5px;
			border-radius: 3px;
		}
	}

	svg.video-container {
		position: relative;
		width: 100%;
		height: 29px;
		top: 0;
		left: 0;
		right: 0;
		margin-bottom: -7px;
	}

	&.browser-frame,
	&.browser-frame-no-url {
		border-radius: 6px 6px 0 0;


		.bg-image {
			border-bottom: 12px solid rgba(226, 226, 226, 0.75);

			img {
				min-width: 100%;
			}
		}
	}

	&.video-frame {
		.bg-image {
			background: #171515;
			padding: 4px;
			border-radius: 6px 6px 0 0;

			img {
				min-width: 100%;
			}
		}
	}

	&.photo-frame {
		.bg-image {
			img {
				min-width: 98%;
				border: 8px solid #fff;
			}
		}
	}

}

.portfolio-summary {
	background-color: var(--page_background_color);
	color: var(--page_text_color);
	font-size: 85%;
	padding: 2rem 3rem;
	box-shadow: 1px 1px 6px rgba( 0, 0, 0, 0.5 );
	width: 40%;
	max-width: 300px;
	float: right;
	margin: -30rem 0 1rem 1rem;
	position: relative;
	z-index: 200;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	-ms-transform-origin: center top;
	-o-transform-origin: center top;
	transform-origin: center top;
	-webkit-animation: big-swing ease-in-out 7s 1;
	-moz-animation:  big-swing ease-in-out 7s 1;
	animation:  big-swing ease-in-out 7s 1;

	h6 {
		margin: 0.5em 0 0.2em 0;
	}

	a {
		color: var(--page_link_color);

		&:hover {
			color: var(--page_link_hover_color);
		}
	}

	p {
		padding: 0;
	}

	.pin {
		background-color: #aaa;
		background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
		display: block;
		height: 0.9em;
		left: 50%;
		margin: -1em -.05em;
		position: absolute;
		top: 6%;
		width: .1em;
		transform: rotate(-10deg);
	}
	.pin:after {
		background-color:  var(--primary_button_background_color);
		background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
		border-radius: 50%;
		box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
		inset .2em .2em .2em hsla(0,0%,100%,.2),
		inset -.2em -.2em .2em hsla(0,0%,0%,.1),
		1.1em 0.15em .35em hsla(0,0%,0%,.09);
		content: '';
		height: .7em;
		left: -.3em;
		position: absolute;
		top: -.45em;
		width: .7em;
	}
	.pin:before {
		background-color: hsla(0,0%,0%,.1);
		box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
		content: '';
		height: 1.0em;
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(47.5deg);
		transform-origin: 50% 100%;
		width: .1em;
	}

	p {
		line-height: 1.4;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				display: block;
				padding: 0.05rem 0;
			}
		}
	}
}

article.portfolio {
	overflow: hidden;
	display: block;
	clear: both;
}