/**
 * base form styles
 */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
select,
textarea {
	padding: 0.75rem 1.25rem;
	outline: none;
	border: 1px solid rgba( 0, 0, 0, 0 );
	border-radius: 3px;
	background: var(--page_background_color);
	color: var(--page_text_color);
	font-size: var(--body_text_default_size);
	font-family: var(--body_text_font);
	margin-left: 1rem;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
	-webkit-appearance: none;
	transition: all $transition-speed ease-in-out;

	&:hover {
		border: 1px solid var(--primary_button_background_color);
	}

	&:focus {
		outline: none;
		border: 1px dotted var(--primary_button_background_color);
		box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
	}
}
button,
input[type="submit"] {
	font-size: var(--body_text_default_size);
	font-family: var(--body_text_font);
	border: none;
	padding: 0.75rem 1.25rem;
}


// fixing some formidble pro stuff that they sneak in even when styles are off
.frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_left_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_left_container .wp-editor-wrap, .frm_form_field.frm_left_container .frm_opt_container, .frm_form_field.frm_left_container .frm_dropzone, .frm_form_field.frm_left_container .frm-g-recaptcha, .frm_form_field.frm_left_container .g-recaptcha, .frm_form_field.frm_left_container .chosen-container, .frm_form_field.frm_left_container .frm_combo_inputs_container, .frm_form_field.frm_right_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_right_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_right_container textarea, .frm_form_field.frm_right_container .wp-editor-wrap, .frm_form_field.frm_right_container .frm_opt_container, .frm_form_field.frm_right_container .frm_dropzone, .frm_form_field.frm_right_container .frm-g-recaptcha, .frm_form_field.frm_right_container .g-recaptcha, .frm_form_field.frm_right_container .chosen-container, .frm_form_field.frm_right_container .frm_combo_inputs_container {
	max-width: 100%;
}

.frm_form_field.frm_left_container label.frm_primary_label {
	max-width: 90%;
}