$white: 			#fff;
$offwhite: 			#f8f9fa;
$grey_light: 		#e9ecef;
$grey_medium: 		#ced4da;
$grey_medium_dark: 	#868e96;
$grey_dark: 		#495057;
$dark:  			#212529;
$black: 			#000;

/* Color Theme Swatches in Hex */
$Youth-1: #F9A11B;
$Youth-2: #A5CD39;
$Youth-3: #00B9BC;
$Youth-4: #E91C23;
$Youth-5: #FFFFFF;


// Define branding
$primary-color:            	$Youth-1;
$secondary-color:          	$Youth-2;
$default-background-color: 	$Youth-5;
$default-text-color:       	$dark;
$default-link-color:       	$Youth-3;
$default-link-color-hover: 	$Youth-2;
$inverse-background-color: 	$dark;
$inverse-text-color:       	$Youth-5;
$inverse-link-color:       	$Youth-1;
$inverse-link-color-hover: 	lighten( $Youth-1, 20 );

$header-background-color: 	$Youth-4;
$header-nav-background: 	$Youth-1;
$header-nav-link-color:		$Youth-5;
$header-nav-link-background:transparent;
$header-nav-link-hover-color:$Youth-5;
$header-nav-link-hover-background:$Youth-3;

$footer-background-color:  	$Youth-2;
$footer-text-color:			$Youth-5;
$footer-link-color:			darken( $Youth-4, 15 );
$footer-link-color-hover: 	darken( $Youth-3, 25 );