.site-header {
	background: var(--header_background_color);

	a {
		text-decoration: none;
	}

	.site-logo {
		h1 {
			//text-transform: uppercase;
			font-weight: lighter;


			a {
				color: var(--header_text_color);
			}
		}
	}

	.main-navigation {
		background: var(--top_nav_bar_background);
		font-family: var(--nav_item_font);
		font-weight: normal;
		//text-transform: uppercase;


		.mobile-menu-toggle {
			display: none;
		}

		ul {
			//margin: 0;
			padding: 0.4em;
			display: flex;
			transition: all $transition-speed ease-in-out;
			width: 90%;
			margin: 0 auto;
			max-width: $max-page-width;


			li {
				list-style-type: none;
				margin: 0 1px 0 0;
				display: flex;
				flex: auto;
				justify-content: space-evenly;

				a {
					transition: all $transition-speed ease-in-out;
					text-decoration: none;
					display: flex;
					flex: 1;
					text-align: center;
					justify-content: center;
					align-items: center;
					padding: 0.5em 2em;
					background: var(--nav_item_background_color);
					color: var(--nav_item_text_color);

					&:hover,
					&:focus,
					&:active,
					&:target {
						background: var(--nav_item_hover_background_color);
						color: var(--nav_item_hover_text_color);
					}
				}

			}


		}
		@include tablet-down {

			.mobile-menu-toggle {
				display: block;
				a {
					display: block;
					text-decoration: none;
					background: var(--nav_item_background_color);
					color: var(--nav_item_text_color);
					padding: 0.5em 2em;
				}

			}

			ul {
				flex-direction: column;
				height: 0;
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 9999;
				display: flex;
				overflow: hidden;


				li {
					width: 100%;

					a {
						line-height: 3;

					}

				}

				&.open {
					width: 100%;
					max-width: 100vw;
					display: flex;
					height: calc( 100vh - 6rem );

					li {
						flex: 1;
					}
				}
			}

		}
		a {

			&:hover {

			}
		}
	}

	&.smaller {

	}

}
.site-logo {
	max-height: 20vh;

	img {
		max-height: 19vh;
	}

}

.smaller {
	.site-logo {

	}

}

@include tablet-up {
	.home {
		.site-header {
			.main-navigation {
				ul {
					background-color: var(--top_nav_bar_background);

					a {

					}
				}
			}

			&.smaller {

			}
		}
	}
}

.page_featured_image_container {
	width: 100%;
	position: relative;
	z-index: -1;
	margin-bottom: -8em;

	img.page_featured_image {
		width: 100%;
		max-height: 30vh;
		object-fit: cover;
	}

	+ #content {
		.page-title,
		.portfolio-title {
			background: var(--page_background_color);
			border-radius: 10px 10px 0 0;
		}
	}

}